<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class="text-danger">You do not have permission to access this page.</h5>
    <img src="~/images/noaccess.png" class="my-3" style="height:350px; width:350px" />
    <br />
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="width:auto">Back to Home</a>
</div>