@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a class="navbar-brand" asp-controller="home" asp-action="index">
                <img src="~/images/Task-Management.png" width="30" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tasks</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Tasks" asp-action="Create">Create</a>
                            <a class="dropdown-item" asp-controller="Tasks" asp-action="Index">Manage</a>
                            <a class="dropdown-item" asp-controller="Tasks" asp-action="ViewDate">By Date</a>
                            <a class="dropdown-item" asp-controller="Tasks" asp-action="All">All</a>
                        </div>
                    </li>
                    @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                <a class="dropdown-item" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                                <a class="dropdown-item" asp-controller="Administration" asp-action="ListTeams">Teams</a>
                            </div>
                        </li>
                    }
                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || (User.IsInRole("Lead"))))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Report" asp-action="ListUsers">User Productivity</a>
                                <a class="dropdown-item" asp-controller="Report" asp-action="ListRoles">Users Productivity</a>
                                <a class="dropdown-item" asp-controller="Report" asp-action="ListTeams">User Tasks</a>
                                <a class="dropdown-item" asp-controller="Report" asp-action="ListTeams">Users Tasks</a>
                                <a class="dropdown-item" asp-controller="Report" asp-action="ListTeams">Team Performance</a>
                                <a class="dropdown-item" asp-controller="Report" asp-action="ListTeams">Teams Performance</a>
                            </div>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {                    
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="Home/Index">Login</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
    </div>
@if (IsSectionDefined("scripts"))
{
    @RenderSection("scripts", required: true)
}
</body>
</html>
