@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "List Roles";
}

<h1>All Roles</h1>

@if(Model.Any())
{
    <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary mb-3" style="width:auto">Add Role</a>
    foreach (var role in Model)
    {
        <div class="card my-3">
            <div class="card-header"> Role Id: @role.Id</div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Administration" asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">No roles created</div>
        <div class="card-body">
            <h5 class="card-title">To create new roles select the button below</h5>
            <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary" style="width:auto">Create Role</a>
        </div>
    </div>
}